[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
doc8 = "*"
pylint = "*"
sphinx-autobuild = "*"

[packages]
jupyter-sphinx = "*"
pandas = "*"
plotly = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
xarray = "*"
sphinxext-opengraph = "*"
sphinxcontrib-bibtex = "*"

[requires]
python_version = "3.9"
