[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-autobuild = "*"
pylint = "*"
autopep8 = "*"
doc8 = "*"

[packages]
sphinx = "~=3.5.4" # バージョン 4 にするとグラフが表示できない。
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
pandas = "*"
plotly = "*"
jupyter-sphinx = "*"
xarray = "*"

[requires]
python_version = "3.8"
